{% extends "base.html" %}
{% load static %}
{% block title %}
    Your Cart
{% endblock %}

{% block content %}
    {% if not cart_items %}
        <div style="height:90vh;" clas="row pb-5">
            <div class="col-lg-12 text-center mb-5 mt-5">
                <div class="text-center pb-3 shadow">
                    <h3>Your cart is empty.</h3>
                </div>
                
                Click <a href="{% url 'shop:allProductCat' %}">Here</a> To Continue Shopping.

            </div>
        </div>
    {% else %}

        <div class="row pb-5">
            <div class="col-lg-12 text-center mb-5 mt-5">
                <h2>Your Cart</h2>
            </div>

            <div class="col-lg-8">
                <div class="bg-second text-white text-center pb-3 shadow">
                    <h2>Your Item(s)</h2>
                </div>
                <table class="table">
                   
                    <tbody>
                    
                        {% for cart_item in cart_items  %}
                                <tr>
                                    <td style="width:25%">
                                        <a href="cart_item.product.get_absolute_url">
                                            <img class="img-fluid" src="{{cart_item.product.image.url}}">
                                        </a>
                                    </td>
                                    <td>
                                        <b>{{cart_item.product.name}}</b>
                                        <br>
                                        ${{cart_item.product.price}}
                                        <br>
                                        {{cart_item.quantity}} x {{cart_item.product.price}}  
                                    </td>
                                    <td>
                                        ${{cart_item.sub_total}}
                                    </td>
                                    {% if cart_item.quantity < cart_item.product.stock %}
                                        <td>
                                            <a href="{% url 'cart_app:add_cart' cart_item.product.id %}">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="#50e395" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>
                                            </a>

                                            <a href="{% url 'cart_app:cart_remove' cart_item.product.id %}">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="#f5b423" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle><line x1="8" y1="12" x2="16" y2="12"></line></svg>
                                            </a>
                                            
                                            <a href="{% url 'cart_app:full_remove' cart_item.product.id %}">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="#ef3e54" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>
                                            </a>
                                        </td>
                                    {% else %}
                                        <td>
                                            <!--
                                            <b>No More Stock</b>
                                            -->
                                            <a href="{% url 'cart_app:cart_remove' cart_item.product.id %}">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="#f5b423" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle><line x1="8" y1="12" x2="16" y2="12"></line></svg>
                                            </a>
                                            <a href="{% url 'cart_app:full_remove' cart_item.product.id %}">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="#ef3e54" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>
                                            </a>
                                        </td>
                                    {% endif %}
                                </tr>
                        {% endfor %}




                    </tbody>
                </table>
            </div>


            <div class="col-lg-4">
            
               <div class="bg-dark text-white text-center pb-3  shadow">
                    <h2>Check-Out</h2>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <th>Check out information</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Please check your items before checking out.</td>
                        </tr>
                        <tr>
                            <td>Your Total: ${{total}}</td>
                        </tr>
                        
                    </tbody>
                </table>

                <form action="/create_checkout_session" method="POST">
                    <button type="submit">Checkout</button>
                </form>

                <a class="btn btn-dark btn-block shadow" href="{% url 'shop:allProductCat' %}">Continue Shopping</a>

            </div>
        </div>

       
    {% endif %}
{% endblock %}