{% extends "base.html" %}
{% load static %}
{% block title %}
    {% if category %}
        {{ category.name|truncatewords:155 }}
    {% else %}
        Welcome!
    {% endif %}
{% endblock %}

{% block content %}

    {% if category %}
        <div>
            <div>
                <p><a href="{% url 'shop:allProductCat' %}">Our Product Collection</a> {{ category.name }}</p>
            </div>
        </div>
    {% endif %}

    <div>
    {% if category %}
        <div>
            <div>
                <img src="{{ category.image.url }}" alt="{{ category.name }}" />
            </div>
            <div>
                <h1>{{ category.name }}</h1>
                <p>{{ category.description }}</p>
            </div>
        </div>
    {% else %}
        <div>
            <div>
                <img src="{% static 'img/noimage.jpg' %}" alt="{{ category.name }}" />
            </div>
            <div>
                <h1>Our Collection</h1>
                <p>Custom content</p>
            </div>
        </div>
    {% endif %}
    </div>


    <div>
        <div>
            {% for product in products %}
                <div>
                    <img src="{{ product.image.url }}" alt="{{ product.name }}" />
                </div>
                <div>
                    <h4>{{ product.name }}</h4>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

